accelerate==0.27.2
bitsandbytes==0.41.0
cmake==3.26.1
datasets==2.18.0
deepspeed==0.13.0
huggingface-hub==0.21.4
multiprocess==0.70.14
numpy==1.23.4
pandas==2.0.0
Pillow==8.4.0
PyYAML==6.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.4.0
tensorflow-gpu==2.4.3
tiktoken==0.6.0
tokenizers==0.15.2
torch==2.1.2
torchaudio==0.9.0
torchdata==0.6.0
torchvision==0.15.2
tqdm==4.62.3
tqdm-multiprocess==0.0.11
transformers==4.39.1
triton==2.1.0
trl==0.8.6
xformers==0.0.23.post1
